<app-navbar></app-navbar>




<div class="flex-container" >
    <div *ngFor="let user of userList; let i = index">
      <div class="img-container">
        <img class="card-img-top img-fluid" src="../../assets/images/profile.png" style="width: auto;"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <p class="card-text"> {{user.name}} </p>
        <button (click)="isSend[i] ? cancelRequest(user.sessionId, i) : sendRequest(user.sessionId, i)">{{isSend[i] ? "Cancel" : "Add Friend"}}</button>

      </div>
    </div>
  </div>
